workflows/email_classifier.json
{
  "name": "Email Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "Label_5929411489936853300"
          ]
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1a46a45f-0ff5-4887-8d7b-328799dcb039",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "VXlCPWdusxeptcIq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "061c25c7-9819-43a3-86bf-08b73ac78d14",
              "name": "emailSubject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "67868d2a-e46c-494c-9295-7bd002b6f449",
              "name": "emailFrom",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "8b1cb7e9-decd-4347-8dc3-511a7a2241fb",
              "name": "emailSnippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "4d59ea32-6a61-46da-abb0-26ae9ca05589",
              "name": "emailDate",
              "value": "={{ $json.internalDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "724307b6-e5f0-4c6f-accd-89b022515edc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant helping track job applications.\nAnalyze the following email and return a JSON object only, no explanation, no markdown.\n\nEmail Subject: {{ $json.emailSubject }}\nEmail From: {{ $json.emailFrom }}\nEmail Body: {{ $json.emailSnippet }}\nEmail Date: {{ $json.emailDate }}\n\nReturn this exact JSON structure:\n{\n  \"email_type\": \"new_application\" or \"follow_up\",\n  \"company\": \"\",\n  \"job_title\": \"\",\n  \"application_link\": \"\",\n  \"status\": \"Submitted\" or \"Rejected\" or \"Assessment\" or \"Interview\" or \"Needs Review\",\n  \"notes\": \"\",\n  \"email_date\": \"\"\n}\n\nRules:\n- If this is a new application confirmation, set email_type to \"new_application\" and status to \"Submitted\"\n- If this is a follow-up (rejection, interview invite, assessment), set email_type to \"follow_up\"\n- If you cannot confidently identify the company or job title, set status to \"Needs Review\"\n- Keep notes to one sentence max\n- Return ONLY the JSON, nothing else\n- For email_date, return the raw timestamp value as-is, do not reformat it\n- If the email is a generic marketing or newsletter email, set status to \"Needs Review\"\n- application_link should only be populated if there is a direct URL to the application confirmation page in the email body"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "fb65f3e3-ce33-4757-b069-fadbf6ff27bb",
      "name": "Message a model",
      "alwaysOutputData": false,
      "credentials": {
        "anthropicApi": {
          "id": "cmWrS4nwbToqrKNw",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "075d1609-f740-4f85-b4fd-98eedc071594",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        0
      ],
      "id": "f33078a5-ba8d-4c2f-98ba-9387dd6d5eed",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8",
          "mode": "list",
          "cachedResultName": "Full Time Applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1601282352,
          "mode": "list",
          "cachedResultName": "2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8/edit#gid=1601282352"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Company",
              "lookupValue": "={{ $json.company }}"
            },
            {
              "lookupColumn": "Job Title",
              "lookupValue": "={{ $json.job_title }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        0
      ],
      "id": "286b54b3-ddc2-4840-a66f-68994a213816",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jwp2BJ59C9APAamx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rawText = $input.item.json.content[0].text;\n  const parsed = JSON.parse(rawText);\n\n  const ts = Number(parsed.email_date);\n  const date = new Date(ts);\n  const formatted = (date.getMonth()+1) + '/' + date.getDate() + '/' + String(date.getFullYear()).slice(-2);\n  parsed.email_date = formatted;\n\n  return { json: parsed };\n} catch(e) {\n  return { \n    json: {\n      email_type: \"unknown\",\n      company: \"Needs Review\",\n      job_title: \"Needs Review\",\n      application_link: \"\",\n      status: \"Needs Review\",\n      notes: \"Could not parse email automatically\",\n      email_date: new Date().toLocaleDateString('en-US', {month:'numeric', day:'numeric', year:'2-digit'})\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "4e0bef71-f3ce-47ef-9240-e820697aedbf",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8",
          "mode": "list",
          "cachedResultName": "Full Time Applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1601282352,
          "mode": "list",
          "cachedResultName": "2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8/edit#gid=1601282352"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Submitted Date": "={{ $json.email_date }}",
            "Company": "={{ $json.company }}",
            "Job Title": "={{ $json.job_title }}",
            "Link To Application": "={{ $json.application_link }}",
            "Status": "={{ $json.status }}",
            "Notes": "={{ $json.notes }}",
            "Update Date": "={{ $json.email_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link To Application",
              "displayName": "Link To Application",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Update Date",
              "displayName": "Update Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        96
      ],
      "id": "58016030-4fcd-4749-9780-4b1ef753ceef",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jwp2BJ59C9APAamx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        0
      ],
      "id": "74b43431-b147-4d40-862e-ce5a9f4ea219",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8",
          "mode": "list",
          "cachedResultName": "Full Time Applications",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1601282352,
          "mode": "list",
          "cachedResultName": "2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nr4iHcGb0BlB5mfscdjpSmnIq9g4jAnJok0rcfIR3y8/edit#gid=1601282352"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.row_number }}",
            "Status": "={{ $json.status }}",
            "Notes": "={{ $json.notes }}",
            "Update Date": "={{ $json.email_date }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Submitted Date",
              "displayName": "Submitted Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Link To Application",
              "displayName": "Link To Application",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Update Date",
              "displayName": "Update Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        -80
      ],
      "id": "8b662354-994b-464a-9fd6-c5ffad635c7e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Jwp2BJ59C9APAamx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "ccf9cea6-f1b4-4156-a9e4-31c187a159cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "efcff6754c80afe6f80ac88d4c353331d2e4d286f1f178d0bdfbaf326992bf0a"
  },
  "id": "gracTaPwcF52RNdL",
  "tags": []
}